
body{
  background-color: rgb(177, 225, 247);
  padding: 0;
  border: 0;
  margin:auto;
}
.nav{list-style:none; 
  height:30px; /*  高度 */
   border-bottom:1px/*分割线*/
    solid rgb(32, 110, 212);
     margin-top:0px; 
     padding-left:50px;}
 li{float:left}
 a
 {display:block;
  height:30px;text-align:center; 
  line-height:30px;
   width:80px; 
   background :transparent;
   margin-left:1px;}
   a.on,a:hover{background:rgb(13, 92, 196);color:#fff; }
   .bjimg {
    position: fixed;
    opacity:0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    z-index: -10;
    zoom: 1;
    background-color: #fff;
    background-image: url(./bg1.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
  }
  .zt{
    color:rgb(15, 15, 128);
    font-size: 25px;
  
  }

.lk{
  height: 250px;
  width: 400px;
  background-color: rgba(240, 255, 255, 0.5);
  border-radius: 10px;
 
}
.pc{
  
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 81.7%; 
}
#music{
  width:300px;
   height:90px;

}